@page "/Registro"

<PageTitle>Registro</PageTitle>

<h1>Registro</h1>

<br>

<form class="flex">
   <p>Nome:<MatTextField PlaceHolder="Nome"
    TValue="string"></MatTextField></p>
    <br>
    <br>
     <p>Sobrenome:<MatTextField PlaceHolder="Sobrenome"
    TValue="string"></MatTextField></p>
    <br>
    <br>
    <p>Nascimento:<MatTextField PlaceHolder="Nascimento:"
    TValue="string"></MatTextField></p>
    <p>CPF:<MatTextField PlaceHolder="CPF"
    TValue="string"></MatTextField></p>
    <br>
    <br>
    <p>Rua:<MatTextField PlaceHolder="rua"
    TValue="string"></MatTextField></p>
    <br>
    <br>
    <p>Bairro:<MatTextField PlaceHolder="Bairro"
    TValue="string"></MatTextField></p>
    <br>
    <br>
    <p>Complemento:<MatTextField PlaceHolder="Nome"
    TValue="string"></MatTextField></p>
    <br>
    <br>
    <p>Número:<MatTextField PlaceHolder="Nome"
    TValue="string"></MatTextField></p>
    <br>
    <br>
</form >

 


