@page "/Registro"

<PageTitle>Registro</PageTitle>

<h1>Registrar-se</h1>

<br>

<form class="flex">
   <p>Primeiro Nome:<MatTextField PlaceHolder="digite seu primeiro nome"
    TValue="string"></MatTextField></p>
    <br>
    <br>
     <p>Ultimo nome:<MatTextField PlaceHolder="digite seu ultimo nome"
    TValue="string"></MatTextField></p>
    <br>
    <br>
    <p>Nome de usuario:<MatTextField PlaceHolder="digite seu nome de usuario"
    TValue="string"></MatTextField></p>
    <br>
    <br>
    <p>Endereço de email:<MatTextField PlaceHolder="digite um endereço de email"
    TValue="string"></MatTextField></p>
    <br>
    <br>
    <p>Senha:<MatTextField PlaceHolder="digite sua senha"
    minlength="5" TValue="string"></MatTextField></p>
    <br>
    <br>
    <p>Confirmar senha:<MatTextField PlaceHolder="confirme sua senha"
    TValue="string"></MatTextField></p>
    <br>
    <br>

    <button class="botão" type="submit">Registro</button> <button class="botão2">Cancelar</button>
    
</form >

 


